<p>Hello <%= userFirstName %>,</p>
<p>>Your subscription payment has not been completed.</p>
<p>
  To extend your subscription to our services again, you can log in
  <a href="easyflow.ai" target="_blank">to your space</a> and resume a
  subscription.
</p>
<p>Bests regards,</p>
<p>EasyFlow.ai</p>
