<p>Hello <%= userFirstName %>,</p>

<p>Your subscription to our service has been canceled successfully.</p>

<p>Could you tell us why you stopped it ? Could we make it better ?</p>

<p>Thank you,</p>
<p>Yoann from Easyflow</p>
