<h2>Hello,</h2>
<p>Client Name: <span> <% = fullName%> </span></p>
<p>Mail Client: <span> <% = mail%> </span></p>
<p>Telephone Client: <span> <% = telephone%> </span></p>
<p>Company: <span> <% = company%> </span></p>
<p>Message: <span> <% = message%> </span></p>
<p>Please contact him!</p>
<p>EasyFlow</p>
