<p>Bonjour <%= userFirstName %>,</p>
<p>Le paiement de votre abonnement n'a pas abouti.</p>
<p>
  Pour prolonger à nouveau votre abonnement à nos services, vous pouvez vous
  connecter <a href="easyflow.ai" target="_blank">dans votre espace</a> et
  reprendre un abonnement.
</p>
<p>Cordialement,</p>
<p>EasyFlow.ai</p>
