<p>Bonjour <%= userFirstName %>,</p>

<p>Votre abonnement à notre service a bien été annulé.</p>

<p>
  Pourriez-vous nous dire pourquoi vous l'avez arrêté? Pourrions-nous améliorer
  le logiciel ?
</p>

<p>Merci,</p>
<p>Yoann, Easyflow</p>
