name: Test
on:
  push:
    branches:
      - main
jobs:
  test-secret:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: echo $SMTP_PORT